.gameCard{
    border-radius: 10px;
    width: 300px;
    height: 300px;
    cursor: pointer;
    /* width: 100%;
    height: auto; */
}

.g-card-info{
    color:white;
    background-color: rgba(128, 0, 128, 0.842); 
    font-weight: 900;
}
